/* Universal Styles */

body{
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  display: block;
}
h2, h3, h4{
  padding: 10px;
  margin: 0;
  display: block;
}
.main{
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin:auto;
}

a{
  text-decoration: underline;
  color: seashell;
}

footer{
  text-align: left;
  padding-left: 20px;
}

/* Main Content */

header{
  display: flex;
  max-height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
  width: 100%;
  background-color: black;

}
header img{
  padding-left: 10px;
  max-height: 50px;
}
#mission .hero{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  max-height: 700px;
  max-width: 1200px;
  background-color: black;
  width: 100%;
}
#mission{
  height: 700px;
}

#featured{
  display:flex;
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

#mission .hero-text{
  width: 100%;
  background-color: black;
  margin: auto;
}

.flex-container{
  display: flex;

}

.tea-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item img {
  max-height: 200px;
  max-width: 300px;
  margin: 10px;
  display:block;
}

.item span{
display: flex;
font-weight: bold;
padding: 5px;
}
