/* Universal Styles */

body{
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a{
  text-decoration: underline;
}

footer{
  text-align: left;
  padding-left: 20px;
}

/* Main Content */

header{
  display: flex;
  max-height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;

}
#logo{
  padding-left: 10px;
  max-height: 50px;
}
#mission{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  max-height: 700px;
  max-width: 1200px;
}
hero-text{
  display: flex;
}

#mission .hero{
background-color: black;
width: 100%;
}

.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item img {
  max-height: 200px;
  max-width: 300px;
  margin: 10px;
  display:block;
}

.item span{
display: block;
font-weight: bold;
padding: 5px;
}

#featured{
  display:flex;
  max-width: 1000px;
}
